// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Graphical variables

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

nav a {
  text-decoration: none !important;
  color: black;
}
.details {
  font-family: 'Prompt', sans-serif;
  color: rgb(43, 43, 43);
}

.card-body {
  background-color: rgba(238, 237, 237, 0.42);
}

.navbar h1 {
  font-size:2rem;
}

.banner {
  height: 350px;
  background-position: center;
  background-size: cover;
}

.flat-show-card {
  margin: 24px 16px;
  background-color: rgb(238, 237, 237);
  padding: 36px;
  border-radius: 8px;
  overflow: clip;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.flat-details {
  top: -200px;
}

.title {
  padding-bottom: 6rem;
}

.flat-booking-cards {
  max-width: min-content;
}

.flat-show-cards {
  // min-width: max-content;
  flex-grow: 1;
}

.flat-show-card p {
  font-size: 1.3rem;
}

.flat-show-card.description {
  padding-bottom: 300px;
}

@media(max-width: 600px)  {
  .flat-details {
    display: block !important;
  }
}

.search-bar {
  width: auto !important;
  display: inline !important;
}
